@model IEnumerable<ProductViewModel>

<table class="table_price">
    <caption>Результат</caption>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
        </tr>
    }
</table>